services:
  receba:
    container_name: monotempo_receba
    restart: always
    build:
      context: Receba
    env_file: ../shared.env
    volumes:
      - /var/lib/MONOTEMPO-docker/database:/var/monotempo-data

  process:
    container_name: monotempo_process

    depends_on:
      receba:
        condition: service_completed_successfully

    restart: always
    build:
      context: Process-Athletes
    env_file: ../shared.env
    volumes:
      - /var/lib/MONOTEMPO-docker/database:/var/monotempo-data

  reenvio:
    container_name: monotempo_reenvio

     depends_on:
       process:
         condition: service_completed_successfully

    restart: always
    build:
      context: Reenvio
    env_file: ../shared.env
    volumes:
       - /var/lib/MONOTEMPO-docker/database:/var/monotempo-data

