[submodule "MyReader"]
	url = https://github.com/mytempoesp/MyReader
	path = MyReader
[submodule "Envio"]
	path = Envio
	url = https://github.com/mytempoesp/Envio
[submodule "Receba"]
	path = Receba
	url = https://github.com/mytempoesp/Receba
[submodule "Php"]
	path = Php
	url = https://github.com/mytempoesp/pagina_hotspot
[submodule "8812au-20210820"]
	path = 8812au-20210820
	url = https://github.com/morrownr/8812au-20210820
[submodule "Reenvio"]
	path = Reenvio
	url = https://github.com/mytempoesp/Reenvio
[submodule "Analytics"]
	path = Analytics
	url = https://github.com/mytempoesp/Analytics
