[submodule "MyReader"]
	url = https://github.com/mytempoesp/MyReader
	path = MyReader
[submodule "Envio"]
	path = Envio
	url = https://github.com/mytempoesp/Envio
[submodule "Receba"]
	path = Receba
	url = https://github.com/mytempoesp/Receba
