version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mytempo_root1
      MYSQL_DATABASE: mytempo
      MYSQL_USER: mytempo_user
      MYSQL_PASSWORD: mytempo1
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  php:
    build:
      context: Php
      dockerfile: Dockerfile
    container_name: php
    environment:
      MYSQL_DB: mytempo
      MYSQL_HOST: db
      MYSQL_USER: mytempo_user
      MYSQL_PASS: mytempo1
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest
    ports:
      - "8080:80"


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: mytempo_user
      PMA_PASSWORD: mytempo1
    ports:
      - "8081:80"


  rabbitmq:
    image: rabbitmq:3-management

    container_name: rabbitmq

    ports:
      - "5672:5672"
      - "15672:15672"

    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  myapiclient:
    build:
      context: API # This sets the build context to the current directory
      #dockerfile: Dockerfile  # Optional if the Dockerfile is named 'Dockerfile'

    depends_on:
      - rabbitmq

    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest

  myreader:
    build:
      context: MyReader

    depends_on:
      - rabbitmq

    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest

volumes:
  db_data:
