version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_envio
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mytempo_root1
      MYSQL_DATABASE: mytempo
      MYSQL_USER: mytempo_user
      MYSQL_PASSWORD: mytempo1
    ports:
      - "3306:3306"
    volumes:
      - ./mytempo.sql:/docker-entrypoint-initdb.d/mytempo.sql
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_envio
    environment:
      PMA_HOST: db
      PMA_USER: mytempo_user
      PMA_PASSWORD: mytempo1
    ports:
      - "8082:80"

  receba:
    build:
      context: Receba
    
    depends_on:
      - db

    environment:
      MYSQL_DB: mytempo
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: mytempo_user
      MYSQL_PASS: mytempo1
      MYTEMPO_EQUIP: "PORTAL LEITOR RFIDMY501"
      MYTEMPO_API_URL: "api.v2.mytempo.esp.br" #api.mytempo.esp.br

  envio:
    build:
      context: Envio

    depends_on:
      - rabbitmq
      - db

    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest
      MYSQL_DB: mytempo
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: mytempo_user
      MYSQL_PASS: mytempo1


  rabbitmq:
    image: rabbitmq:3-management

    container_name: rabbitmq_envio

    ports:
      - "5672:5672"
      - "15672:15672"

    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  myreader:
    build:
      context: MyReader

    depends_on:
      - rabbitmq

    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest

volumes:
  db_data:
