services:
  rabbitmq:
    image: rabbitmq:3
    container_name: monotempo_rabbitmq
    restart: always
    ports:
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  envio:
    container_name: monotempo_envio
    restart: always
    build:
      context: Envio
    depends_on:
      - rabbitmq
    env_file: ../shared.env
    volumes:
      - ../database:/var/monotempo-data

  aa2:
    container_name: aa2
    restart: always
    privileged: true
    build:
      context: AA2
    depends_on:
      - rabbitmq
    dns:
      - 8.8.8.8
      - 9.9.9.9
    env_file:
      - AA2/aa2.env
      - ../Net/net.env
      - ../shared.env
    environment:
      - TAG_COUNT_START_AT=$TAG_COUNT_START_AT
      - VERSION_NUMBER_AA2=$VERSION_NUMBER_AA2
    volumes:
      - ../database:/var/monotempo-data
      - /dev:/dev
      - /etc/localtime:/etc/localtime:ro
      - /tmp:/tmp

  myreader:
    container_name: monotempo_myreader
    restart: always
    build:
      context: MyReader
    logging:
      driver: none
    depends_on:
      - rabbitmq
    env_file: ../shared.env
