services:
  rabbitmq:
    # FIXME: management is also a debug thing, get rid of it
    image: rabbitmq:3-management
    container_name: monotempo_rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      # XXX: less of a security concern, but please set better credentials
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  envio:
    container_name: monotempo_envio
    restart: always
    build:
      context: Envio
    depends_on:
      - rabbitmq
      - db
    env_file: ../shared.env
    volumes:
      - ../database:/var/monotempo-data

  aa2:
    container_name: aa2
    restart: always
    privileged: true
    build:
      context: AA2
    depends_on:
      - rabbitmq
      - db
    env_file:
      - AA2/aa2.env
      - ../shared.env
    volumes:
      - ../database:/var/monotempo-data
      - /dev:/dev
      - /etc/localtime:/etc/localtime:ro
      - /tmp:/tmp

  myreader:
    container_name: monotempo_myreader
    restart: always
    build:
      context: MyReader
    logging:
      driver: none
    depends_on:
      - rabbitmq
      - db
    env_file: ../shared.env

